doctype html
html(lang='en', ng-app='ML')
  head
    meta(charset='utf-8')
    title(ng-if='pageTitle') {{envVars.website_name}} - {{pageTitle}}
    title(ng-if='!pageTitle') {{envVars.website_name}}
    link(rel='stylsheet', 
         href='http://fonts.googleapis.com/css?family=Lato:300,400,700')
    link(rel='stylesheet', href='index.css')

  body(style='overflow-x:hidden')
    .header
      include mixins/header
    .content(ng-view)
    .footer
      include mixins/footer

    script(src='index.js')
    // script(src='https://maps.googleapis.com/maps/api/js?sensor=false', 
    //        async='true')
