doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title(ng-if='pageTitle') {{envVars.website_name}} - {{pageTitle}}
    title(ng-if='!pageTitle') {{envVars.website_name}}
    link(rel='stylesheet', 
         href='http://fonts.googleapis.com/css?family=Lato:300,400,700')
    link(rel='stylesheet', href='dist/index.css')

  body(style='overflow-x:hidden', ng-class='activeNav', ng-show='nav')
    .header
      include mixins/header
    .content(ng-view)
    .footer
      include mixins/footer

    script(src='dist/index.js')
