doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title(ng-bind='pageTitleBind') MINDLIFE
    link(rel='stylesheet', href='dist/index.css')
    link(rel='stylesheet', 
         href='http://fonts.googleapis.com/css?family=Lato:300,400,700')

  body(style='overflow-x:hidden', ng-class='activeNav')

    .app-loader(ng-hide='appLoaded')
      img(style='display:block;margin:0 auto',
          src='assets/loader.gif', alt='', width='64', height='64')
      p Loading…

    #app.app(ng-class='{loaded: appLoaded}', style='display:none')
      .header
        include mixins/header
      .content(ng-view)
      .footer
        include mixins/footer
      route-loader(rel='routeLoading')

    script(src='dist/index.js')
