figure
  a(role='button', ng-href='{{section.button_link}}',)
    strong(ng-bind-html='section.button_name | hl:searchQuery', bind-once)
  figcaption
    p(ng-bind-html='section.button_description | hl:searchQuery', bind-once)
