div(ng-bind-html='section.description_only | hl:searchQuery', bind-once)
div(ng-if='section.more_description') 
  div(id='more-{{$index}}', 
      ng-bind-html='section.more_description | hl:searchQuery', bind-once)
  a(role='button', data-toggle='more-{{$index}}',
    ng-bind='section.button_more_description', bind-once)
