.footer-container
  .footer-brand(ng-bind='envVars.website_name')
  .footer-em(ng-bind='envVars.company_description')
  .footer-address
    .address(ng-bind='envVars.company_address')
    address
      .phone(ng-bind='envVars.company_telephone')
      a.mail(ng-href='mailto:{{envVars.company_email}}',
             ng-bind='envVars.company_email')
    include navigation
