body {
  margin: 0;
  line-height: 1.4;
  font-size: 20px;
  color: #444;
}
h1 {
  font-weight: 100;
}
.gr {
  font-size: 0;
}
[class^="grc-"] {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 0;
  font-size: 1rem;
}
.grc-2 {
  width: 50%;
}
.grc-3 {
  width: 33.33333%;
}
.grc-4 {
  width: 25%;
}
.logo {
  min-height: 20rem;
  background: center center url("../../assets/head.svg") no-repeat;
  background-cover: contain;
}
.tags {
  padding: 1rem;
  list-style: none;
  font-size: 0;
}
.tags li {
  overflow: hidden;
  font-size: 1rem;
  display: inline-block;
  white-space: nowrap;
  padding: 1rem;
  color: #eee;
}
.tags li:first-child {
  background: #2ecc71;
}
.tags li:nth-child(2) {
  background: #27ae60;
}
.tags li:nth-child(3) {
  background: #3498db;
}
.tags li:nth-child(4) {
  background: #2980b9;
}
.tags li:nth-child(5) {
  background: #f39c12;
}
.tags li:nth-child(6) {
  background: #e74c3c;
}
.tags li:nth-child(7) {
  background: #ecf0f1;
  color: rgba(0,0,0,0.6);
}
.heading {
  background: #2980b9;
  padding: 3rem;
  margin: 0 0 2rem;
  text-align: center;
  color: rgba(0,0,0,0.4);
}
@media screen and (max-width: 599px) {
  .grc-2 {
    width: 100%;
  }
}
