body {
  font-size: 18px;
  font-family: 'Lato', verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  min-width: 320px;
  line-height: 1.4;
  font-size: 20px;
  color: #444;
}
h1 {
  font-weight: 200;
  text-transform: uppercase;
}
.gr {
  font-size: 0;
}
[class^="grc-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin: 0;
  font-size: 1rem;
}
.grc-2 {
  width: 50%;
}
.grc-3 {
  width: 33.33333%;
}
.grc-4 {
  width: 25%;
}
.logo {
  min-height: 20rem;
  background: center center url("../../assets/head.svg") no-repeat;
  background-cover: contain;
}
.tags {
  padding: 2rem;
  list-style: none;
  font-size: 0;
  text-align: center;
}
.tags li {
  overflow: hidden;
  font-size: 1rem;
  display: inline-block;
  white-space: nowrap;
  padding: 1rem;
  color: #eee;
}
.tags li:first-child {
  background: #2ecc71;
}
.tags li:nth-child(2) {
  background: #27ae60;
}
.tags li:nth-child(3) {
  background: #3498db;
}
.tags li:nth-child(4) {
  background: #2980b9;
}
.tags li:nth-child(5) {
  background: #f39c12;
}
.tags li:nth-child(6) {
  background: #e74c3c;
}
.tags li:nth-child(7) {
  background: #9b59b6;
}
.tags li.last {
  display: block;
  color: #2980b9;
}
.heading {
  background: #2980b9;
  padding: 3rem;
  text-align: center;
  color: rgba(255,255,255,0.6);
}
.heading h1 {
  color: #eee;
}
.edito {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem 1rem;
  max-width: 40rem;
  margin: 0 auto;
}
.icons {
  text-align: center;
}
[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem;
  width: 96px;
  height: 96px;
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-heart {
  background-image: url("../../assets/icon-heart.svg");
}
.icon-network {
  background-image: url("../../assets/icon-network.svg");
}
.icon-graph {
  background-image: url("../../assets/icon-graph.svg");
}
.icon-human {
  background-image: url("../../assets/icon-human.svg");
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
.loader {
  background: center center url("../../assets/loader.gif") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  height: 6rem;
}
.c_river {
  background: #3498db;
  color: rgba(255,255,255,0.65);
}
.snap-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
m
}
#snap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 320px;
}
@media screen and (max-width: 599px) {
  .grc-2 {
    width: 100%;
  }
}
