doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title(ng-bind='pageTitleBind') MINDLIFE
    include mixins/favicon
    link(rel='stylesheet', href='dist/index.css')

  body(ng-class='activeNav')

    .app-loader(ng-hide='appLoaded')
      img(src='assets/loader.gif', alt='', width='64', height='64')
      p Loading…

    #app.app(ng-class='{loaded: appLoaded}', style='display:none')
      .header
        include mixins/header
      .content(ng-view)
      .footer
        include mixins/footer
      route-loader(rel='routeLoading')

    script(src='dist/index.js')
