div.file-upload(ng-switch-when='Image', restrict='image.*')
  figure.preview(ng-if='preview')
    img(ng-if='preview.img', height='128px', ng-src='{{preview.img}}', alt='') 
    figcaption
      p
        strong(ng-bind='preview.name')
        |  (
        span(ng-bind='preview.size | Filesize')
        | )
      p
        span(ng-if="status == 'loading'") Uploading file…
        span(ng-if="status == 'loaded'") File uploaded.
        button(type='button', ng-if='!status',
               ng-click='uploadFile()') Upload file

  label.btn.btn-upload(for='form-{{section.form_template_id}}-{{$index}}',
                       ng-show="status !== 'loaded'")
    input(type='file', ng-required='field.required', class='visually-hidden',
          id='form-{{section.form_template_id}}-{{$index}}')
    span(ng-switch="!!preview")
      span(ng-switch-when='true') Replace the file to attach
      span(ng-switch-default) Select the file to attach

  span(ng-if='!fileAPI') Your browser doesn't support the <code>file API</code>
