input[type=search]
input[type=text]
  border 1px solid #ccc
  padding .5rem
  font-family 'Lato', verdana, sans-serif
  box-sizing border-box
  -webkit-appearance none
  &:focus
    outline none
    box-shadow none

.info
  text-align right
  font-size .92rem
  color #999
