#search
  legend 
    font-size 2rem
    strong
      display block
      margin-bottom 1rem
      color #999
  .input-group
    display block
  input[type=search]
  button
    font-weight normal
  input
    width 100%
    border none
    margin-bottom 1rem
    padding-left 0
    font-size 3rem
    font-size 8vw
  button
    display none

@css {
  ::-webkit-input-placeholder {
    font-style:italic;
  }
}
