doctype html
html(lang="en")
  head
    title MindLife
    link(rel="stylesheet"
         href="http://fonts.googleapis.com/css?family=Lato:300,400,700")
    link(rel="stylesheet" href="css/index.css")
  body
    .gr.logos
      .grc-2.logo-1
        .in
      .grc-2.logo-2
        .in
      .grc-2.logo-3
        .in
      .grc-2.logo-4
        .in

    ul.tags
      li Healthcare
      li Happiness
      li Life Appreciation
      li Well-being
      li Collaboration
      li Better Life
      li Growth
      li.last
        h1 MIND
          strong LIFE

    .snap-container
      svg#snap.c_river(viewBox="0 0 1000 562")

    .c_river
      .edito
        p
          | Our purpose is to enhance self-awareness, health, well-being,
          | happiness and bliss for all.
        .icons
          .icon-heart
          .icon-heart-2
          .icon-human
          .icon-network
          .icon-graph

    .heading
      h1 Mind
        strong Life
      .baseline Trusted solutions for a Blissful Life


    // .loader

    script(src="index.js")
