doctype html
html(lang="en")
  head
    title MindLife
    link(rel="stylesheet"
         href="http://fonts.googleapis.com/css?family=Lato:300,400,700")
    link(rel="stylesheet" href="css/index.css")
    link(rel="stylesheet" href="css/design.css")
  body
    .heading
      h1 MindLife
      .baseline Trusted solutions for a blissfull life
    .gr
      .grc-2.logo
      ul.grc-2.tags
        li Healthcare
        li Happiness
        li Life Appreciation
        li Well Being
        li Collaboration
        li Better Life
        li.c_orange Growth
