.file-upload
  display block
  input[type=file]
    overflow hidden
    position absolute
    left -9999px
    font-size 0
    height 0
    width 0
  .btn-upload
    display inline-block
    margin 0 .2rem
    border 1px solid #333
    padding .5rem 1rem
    cursor pointer
  .preview
    img
    .preview-desc
      display inline-block
      vertical-align middle
